*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #0f0f0f;
}

.heading {
	color: white;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	grid-column: 1 / -1;
	padding: 1rem;
	font-size: 2.5rem;
	text-align: center;
}

.container {
	display: grid;
	gap: 1rem;
	grid-auto-rows: 1fr;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	grid-template-rows: auto;
	margin: 0 auto;
	padding: 1rem;
	width: clamp(20rem, 80%, 72rem);
}

.skeleton::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: translateX(-100%);
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.05) 20%, rgba(255, 255, 255, 0.1) 60%, rgba(255, 255, 255, 0));
	content: "";
	animation: skeleton-loading 2s infinite;
}

.skeleton {
	background: #82828233;
	position: relative;
	overflow: hidden;
	aspect-ratio: 1/1;
}

.hidden {
	opacity: 0;
	pointer-events: none;
}

.img {
	user-select: none;
	object-fit: cover;
	object-position: 50% 50%;
	aspect-ratio: 1/1;
}

.overlayImg {
	position: relative;
	width: clamp(20rem, 60vmin, 50rem);
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.overlay {
	z-index: 2;
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.8);
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	transition: opacity 0.2s ease-out;
}

.close-text {
	font-size: 1.5rem;
	color: white;
}

.close {
	position: absolute;
	margin: 1.5rem;
	font-size: 2rem;
	cursor: pointer;
	font-weight: bold;
	color: white;
}

.allImages {
	height: 5rem;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.mainImg {
	width: 100%;
	cursor: pointer;
}

@media only screen and (max-width: 960px) {
	.heading {
		font-size: 2rem;
	}
}

@media only screen and (max-width: 700px) {
	.heading {
		font-size: 1.75rem;
	}
}

@keyframes skeleton-loading {
	100% {
		transform: translateX(100%);
	}
}
